name: Day/Night Cron
on:
  schedule:
    - cron: '0 */3 * * *'
permissions:
  contents: write
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install deps
        run: npm ci
      - name: Update day/night
        run: node ./scripts/daynight-update.js
        env:
          AUTHOR_TIMEZONE: Asia/Jakarta
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
